@import 'tailwindcss';

:root {
  --bg-body: #faf9f5;
  --bg-panel: #fcfcfc;
  --bg-card: #ffffff;
  --bg-selected: #e9e6e6;
  --bg-hover: #f5f3f3;

  --primary: #4b3535;
  --secondary: #846666;
  --subtle: #a79291;
  --emp: #c96442;
  --text-muted: #979797;
  --text-btn: #ffffff;

  --btn-primary: #4b3535;
  --btn-accent: #517295;
  --btn-subtle: #f3f1f0;

  --badge-bg: #f2eede;
  --badge-text: #8d957e;
  --border: #e5e5e5;

  --base-shadow: 0px 0px 12px 0px rgba(136, 136, 136, 0.3);
  --strong-shadow: 0px 0px 8px 0px rgba(136, 136, 136, 0.7);
  --book-shadow-spine: linear-gradient(90deg, rgba(0, 0, 0, 0.12) 12%, rgba(0, 0, 0, 0.02) 58%, rgba(0, 0, 0, 0) 96%);
}

@theme inline {
  --color-bg-body: var(--bg-body);
  --color-bg-panel: var(--bg-panel);
  --color-bg-card: var(--bg-card);
  --color-bg-selected: var(--bg-selected);
  --color-bg-hover: var(--bg-hover);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-subtle: var(--subtle);
  --color-emp: var(--emp);
  --color-text-muted: var(--text-muted);
  --color-text-btn: var(--text-btn);

  --color-btn-primary: var(--btn-primary);
  --color-btn-accent: var(--btn-accent);
  --color-btn-subtle: var(--btn-subtle);

  --color-badge-bg: var(--badge-bg);
  --color-badge-text: var(--badge-text);

  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shadow-default: var(--base-shadow);
  --shadow-strong: var(--strong-shadow);
  --shadow-book-spine: var(--book-shadow-spine);
}

body {
  background: var(--bg-body);
  color: var(--primary);
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm-line-height));
  font-family: Gowun Dodum, Arial, Helvetica, sans-serif;
}

.underline-dotted {
  text-decoration: underline dotted;
  text-decoration-thickness: 10%;
  text-decoration-color: rgba(132, 102, 102, 0.8);
  text-underline-offset: 0.5em;
}
