@import 'tailwindcss';

:root {
  --bg-body: #faf9f5;
  --bg-panel: #fcfcfc;
  --bg-card: #ffffff;
  --bg-selected: #e9e6e6;

  --primary: #4b3535;
  --secondary: #846666;
  --text-muted: #979797;
  --text-btn: #ffffff;

  --btn-primary: #4b3535;
  --btn-accent: #517295;

  --badge-bg: #f2eede;
  --badge-text: #8d957e;

  --border: #e5e5e5;
  --shadow: rgba(136, 136, 136, 0.1);
}

@theme inline {
  --color-bg-body: var(--bg-body);
  --color-bg-panel: var(--bg-panel);
  --color-bg-card: var(--bg-card);
  --color-bg-selected: var(--bg-selected);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-muted: var(--text-muted);
  --color-text-btn: var(--text-btn);

  --color-btn-primary: var(--btn-primary);
  --color-btn-accent: var(--btn-accent);

  --color-badge-bg: var(--badge-bg);
  --color-badge-text: var(--badge-text);

  --color-border: var(--border);
  --color-shadow: var(--shadow);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-bg-body);
  color: var(--color-primary);
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm-line-height));
  font-family: Gowun Dodum, Arial, Helvetica, sans-serif;
}
